# Backend ignores
/backend/node_modules/
/backend/logs/
/backend/.env
/backend/npm-debug.log*
/backend/yarn-error.log*
/backend/coverage/

# Frontend ignores
/frontend/node_modules/
/frontend/build/
/frontend/dist/
/frontend/.env

# Common ignores
.DS_Store
Thumbs.db
.vscode/
*.log
